---
# defaults file for app-load-data-postgres

DBNAME:

POSTGRES_SQL_INSTALL_DIRECTORY: /var/lib/postgresql

TARGET_SQL_LOAD_FILE: "{{ POSTGRES_SQL_INSTALL_DIRECTORY }}/{{ DATABASE_FILE_TO_BE_LOADED | basename }}"

# boolean variable remains in case it is overridden by a higher precedent
# (mostly at the `extra_vars` level from a _build-env_ file)
LOAD_DATABASE: False

DATABASE_FILE_TO_BE_LOADED: # an absolute path to SQL dump file

