# {{ ansible_managed }}

{% for section_name in template_vars %}
[{{ section_name }}]
{% for var_name in template_vars[section_name] %}
{% if template_vars[section_name][var_name] is number %}
{{var_name}} = {{template_vars[section_name][var_name] | default('')}}
{% elif template_vars[section_name][var_name] is sameas True or template_vars[section_name][var_name] is sameas False %}
{{var_name}} = {{template_vars[section_name][var_name] | default('')}}
{% else %}
{{var_name}} = {{template_vars[section_name][var_name] | to_ini_value }}
{% endif %}
{% endfor %}

{% endfor %}