[COMMON]
SERVER_URL = {{ ATMO["SERVER_URL"] }} 
LDAP_SERVER = {{ ATMO["LDAP_SERVER"] }} 
LDAP_SERVER_DN = {{ ATMO["LDAP_SERVER_DN"] }} 
TOKEN_EXPIRY_TIME_DAYS = {{ ATMO["TOKEN_EXPIRY_TIME_DAYS"] }} 
DJANGO_SERVER_URL = {{ ATMO["DJANGO_SERVER_URL"] }} 

[apache2]
MYSHORTNAME = {{ ATMO["MYSHORTNAME"] }} 
MYHOSTNAMEHERE = {{ ATMO["MYHOSTNAMEHERE"] }} 
PATH_TO_ATMOSPHERE = {{ ATMO["PATH_TO_ATMOSPHERE"] }} 
PATH_TO_TROPOSPHERE = {{ ATMO["PATH_TO_TROPOSPHERE"] }} 
BASECERTHERE = {{ ATMO["BASECERTHERE"] }} 
KEYHERE = {{ ATMO["KEYHERE"] }} 
BUNDLECERTHERE = {{ ATMO["BUNDLECERTHERE"] }} 

[nginx]
ATMOSPHERE_PATH = {{ ATMO["ATMOSPHERE_PATH"] }} 
BUNDLE_FILE = {{ ATMO["BUNDLE_FILE"] }} 
CERT_DIR = {{ ATMO["CERT_DIR"] }} 
CERT_FILE = {{ ATMO["CERT_FILE"] }} 
COMBINED_CERT_FILE = {{ ATMO["COMBINED_CERT_FILE"] }} 
COMBINED_CERT_PATH = {{ ATMO["COMBINED_CERT_PATH"] }} 
DHPARAM = {{ ATMO["DHPARAM"] }} 
KEY_FILE = {{ ATMO["KEY_FILE"] }} 
KEY_PATH = {{ ATMO["KEY_PATH"] }} 
KEY_SIZE = {{ ATMO["KEY_SIZE"] }} 
LEADERBOARD_URL = {{ ATMO["LEADERBOARD_URL"] }} 
LOCATIONS_DIR = {{ ATMO["LOCATIONS_DIR"] }} 
SITES_ENABLED_DIR = {{ ATMO["SITES_ENABLED_DIR"] }} 
SITES_AVAILABLE_DIR = {{ ATMO["SITES_AVAILABLE_DIR"] }} 
SERVER_URL = {{ ATMO["SERVER_URL"] }} 
VIRTUALENV_PATH = {{ ATMO["VIRTUALENV_PATH"] }} 

[uwsgi.ini]
LOCAL_DEV = {{ ATMO["LOCAL_DEV"] }} 
PATH_TO_ATMOSPHERE = {{ ATMO["PATH_TO_ATMOSPHERE"] }} 
VIRTUALENV_PATH = {{ ATMO["VIRTUALENV_PATH"] }} 
UWSGI_USER = {{ ATMO["UWSGI_USER"] }} 
UWSGI_GROUP = {{ ATMO["UWSGI_GROUP"] }} 
UWSGI_LOG_PATH = {{ ATMO["UWSGI_LOG_PATH"] }} 

[local.py]
ANSIBLE_ROOT = {{ ATMO["ANSIBLE_ROOT"] }} 
LOGOUT_REDIRECT_URL = {{ ATMO["LOGOUT_REDIRECT_URL"] }} 
CAS_AUTH_PREFIX = {{ ATMO["CAS_AUTH_PREFIX"] }} 
CAS_SERVER = {{ ATMO["CAS_SERVER"] }} 
OAUTH_ISSUE_USER = {{ ATMO["OAUTH_ISSUE_USER"] }} 
LDAP_SERVER = {{ ATMO["LDAP_SERVER"] }} 
LDAP_SERVER_DN = {{ ATMO["LDAP_SERVER_DN"] }} 
JWT_INSTALL = {{ ATMO["JWT_INSTALL"] }} 
JWT_PUBLIC_KEY = {{ ATMO["JWT_PUBLIC_KEY"] }} 
JWT_CLIENT_KEY = {{ ATMO["JWT_CLIENT_KEY"] }} 
JWT_CLIENT_SECRET = {{ ATMO["JWT_CLIENT_SECRET"] }} 
GLOBUS_OAUTH_ID = {{ ATMO["GLOBUS_OAUTH_ID"] }} 
GLOBUS_OAUTH_SECRET = {{ ATMO["GLOBUS_OAUTH_SECRET"] }} 
GLOBUS_OAUTH_CREDENTIALS_SCOPE = {{ ATMO["GLOBUS_OAUTH_CREDENTIALS_SCOPE"] }} 
GLOBUS_OAUTH_ATMOSPHERE_SCOPE = {{ ATMO["GLOBUS_OAUTH_ATMOSPHERE_SCOPE"] }} 
GLOBUS_TOKENINFO_URL = {{ ATMO["GLOBUS_TOKENINFO_URL"] }} 
GLOBUS_TOKEN_URL = {{ ATMO["GLOBUS_TOKEN_URL"] }} 
GLOBUS_AUTH_URL = {{ ATMO["GLOBUS_AUTH_URL"] }} 
OAUTH_CLIENT_KEY = {{ ATMO["OAUTH_CLIENT_KEY"] }} 
OAUTH_CLIENT_SECRET = {{ ATMO["OAUTH_CLIENT_SECRET"] }} 
DATABASE_CONN_MAX_AGE = {{ ATMO["DATABASE_CONN_MAX_AGE"] }} 
DATABASE_ENGINE = {{ ATMO["DATABASE_ENGINE"] }} 
DATABASE_HOST = {{ ATMO["DATABASE_HOST"] }} 
DATABASE_NAME = {{ ATMO["DATABASE_NAME"] }} 
DATABASE_PASSWORD = {{ ATMO["DATABASE_PASSWORD"] }} 
DATABASE_PORT = {{ ATMO["DATABASE_PORT"] }} 
DATABASE_USER = {{ ATMO["DATABASE_USER"] }} 
DJANGO_DEBUG = {{ ATMO["DJANGO_DEBUG"] }} 
#NOTE: DO NOT SET ENFORCING UNLESS YOU ARE ON PRODUCTION!!!!
ENFORCING = {{ ATMO["ENFORCING"] }} 
DJANGO_JENKINS = {{ ATMO["DJANGO_JENKINS"] }} 
SSLSERVER = {{ ATMO["SSLSERVER"] }} 
TESTING = {{ ATMO["TESTING"] }} 
MOCK_USER = {{ ATMO["MOCK_USER"] }} 
USE_MOCK_AUTH = {{ ATMO["USE_MOCK_AUTH"] }} 
SAML_SSO = {{ ATMO["SAML_SSO"] }} 
SAML_SSO_KEYFILE = {{ ATMO["SAML_SSO_KEYFILE"] }} 
SAML_SSO_CERTFILE = {{ ATMO["SAML_SSO_CERTFILE"] }} 
SAML_IDP_URL = {{ ATMO["SAML_IDP_URL"] }} 
SAML_IDP_OAUTH_URL = {{ ATMO["SAML_IDP_OAUTH_URL"] }} 
SSO_OAUTH_KEY = {{ ATMO["SSO_OAUTH_KEY"] }} 
SSO_OAUTH_SECRET = {{ ATMO["SSO_OAUTH_SECRET"] }} 
SAML_ENTITY_ID = {{ ATMO["SAML_ENTITY_ID"] }} 
DJANGO_TEMPLATE_DEBUG = {{ ATMO["DJANGO_TEMPLATE_DEBUG"] }} 
LOG_LIBCLOUD = {{ ATMO["LOG_LIBCLOUD"] }} 
LOGGING_DEP_LEVEL = {{ ATMO["LOGGING_DEP_LEVEL"] }} 
LOGGING_LEVEL = {{ ATMO["LOGGING_LEVEL"] }} 
LOGSTASH_HOST = {{ ATMO["LOGSTASH_HOST"] }} 
LOGSTASH_PORT = {{ ATMO["LOGSTASH_PORT"] }} 
METRIC_SERVER = {{ ATMO["METRIC_SERVER"] }} 
SECRET_KEY = {{ ATMO["SECRET_KEY"] }} 
SELF_SIGNED_CERT = {{ ATMO["SELF_SIGNED_CERT"] }} 
TEST_RUNNER = {{ ATMO["TEST_RUNNER"] }} 
TEST_RUNNER_PASS = {{ ATMO["TEST_RUNNER_PASS"] }} 
TEST_RUNNER_USER = {{ ATMO["TEST_RUNNER_USER"] }} 
AUTO_CREATE_NEW_ACCOUNTS = {{ ATMO["AUTO_CREATE_NEW_ACCOUNTS"] }} 

[secrets.py]
IRODS_HOST = {{ ATMO["IRODS_HOST"] }} 
IRODS_PORT = {{ ATMO["IRODS_PORT"] }} 
IRODS_ZONE = {{ ATMO["IRODS_ZONE"] }} 
IRODS_ADMIN_USER = {{ ATMO["IRODS_ADMIN_USER"] }} 
IRODS_ADMIN_PASS = {{ ATMO["IRODS_ADMIN_PASS"] }} 
LOCAL_STORAGE = {{ ATMO["LOCAL_STORAGE"] }} 
OPENSTACK_PROVIDER_KEY = {{ ATMO["OPENSTACK_PROVIDER_KEY"] }} 
OPENSTACK_ADMIN_KEY = {{ ATMO["OPENSTACK_ADMIN_KEY"] }} 
OPENSTACK_ADMIN_SECRET = {{ ATMO["OPENSTACK_ADMIN_SECRET"] }} 
OPENSTACK_AUTH_URL = {{ ATMO["OPENSTACK_AUTH_URL"] }} 
OPENSTACK_ADMIN_TENANT = {{ ATMO["OPENSTACK_ADMIN_TENANT"] }} 
OPENSTACK_DEFAULT_REGION = {{ ATMO["OPENSTACK_DEFAULT_REGION"] }} 
OPENSTACK_DEFAULT_ROUTER = {{ ATMO["OPENSTACK_DEFAULT_ROUTER"] }} 
OPENSTACK_USER_ROLE = {{ ATMO["OPENSTACK_USER_ROLE"] }} 
OPENSTACK_ADMIN_ROLE = {{ ATMO["OPENSTACK_ADMIN_ROLE"] }} 
ATMOSPHERE_SUPERUSER = {{ ATMO["ATMOSPHERE_SUPERUSER"] }} 
ATMOSPHERE_VNC_LICENSE = {{ ATMO["ATMOSPHERE_VNC_LICENSE"] }} 

[celeryd.default]
VIRTUAL_ENV_ATMOSPHERE = {{ ATMO["VIRTUAL_ENV_ATMOSPHERE"] }} 
ATMOSPHERE_LOCATION = {{ ATMO["ATMOSPHERE_LOCATION"] }}
SSL_LOCATION = {{ ATMO["SSL_LOCATION"] }}
SSL_CERTIFICATE = {{ ATMO["SSL_CERTIFICATE"] }}
SSL_KEY = {{ ATMO["SSL_KEY"] }}
