[COMMON]
SERVER_URL = {{ ATMO["COMMON"]["SERVER_URL"] | default('') }}
LDAP_SERVER = {{ ATMO["COMMON"]["LDAP_SERVER"] | default('') }}
LDAP_SERVER_DN = {{ ATMO["COMMON"]["LDAP_SERVER_DN"] | default('') }}
TOKEN_EXPIRY_TIME_DAYS = {{ ATMO["COMMON"]["TOKEN_EXPIRY_TIME_DAYS"] | default('') }}
DJANGO_SERVER_URL = {{ ATMO["COMMON"]["DJANGO_SERVER_URL"] | default('') }}

[apache2]
MYSHORTNAME = {{ ATMO["apache2"]["MYSHORTNAME"] | default('') }}
MYHOSTNAMEHERE = {{ ATMO["apache2"]["MYHOSTNAMEHERE"] | default('') }}
PATH_TO_ATMOSPHERE = {{ ATMO["apache2"]["PATH_TO_ATMOSPHERE"] | default('') }}
PATH_TO_TROPOSPHERE = {{ ATMO["apache2"]["PATH_TO_TROPOSPHERE"] | default('') }}
BASECERTHERE = {{ ATMO["apache2"]["BASECERTHERE"] | default('') }}
KEYHERE = {{ ATMO["apache2"]["KEYHERE"] | default('') }}
BUNDLECERTHERE = {{ ATMO["apache2"]["BUNDLECERTHERE"] | default('') }}

[nginx]
ATMOSPHERE_PATH = {{ ATMO["nginx"]["ATMOSPHERE_PATH"] | default('') }}
BUNDLE_FILE = {{ ATMO["nginx"]["BUNDLE_FILE"] | default('') }}
CERT_DIR = {{ ATMO["nginx"]["CERT_DIR"] | default('') }}
CERT_FILE = {{ ATMO["nginx"]["CERT_FILE"] | default('') }}
COMBINED_CERT_FILE = {{ ATMO["nginx"]["COMBINED_CERT_FILE"] | default('') }}
COMBINED_CERT_PATH = {{ ATMO["nginx"]["COMBINED_CERT_PATH"] | default('') }}
DHPARAM = {{ ATMO["nginx"]["DHPARAM"] | default('') }}
KEY_FILE = {{ ATMO["nginx"]["KEY_FILE"] | default('') }}
KEY_PATH = {{ ATMO["nginx"]["KEY_PATH"] | default('') }}
KEY_SIZE = {{ ATMO["nginx"]["KEY_SIZE"] | default('') }}
LEADERBOARD_URL = {{ ATMO["nginx"]["LEADERBOARD_URL"] | default('') }}
LOCATIONS_DIR = {{ ATMO["nginx"]["LOCATIONS_DIR"] | default('') }}
SITES_ENABLED_DIR = {{ ATMO["nginx"]["SITES_ENABLED_DIR"] | default('') }}
SITES_AVAILABLE_DIR = {{ ATMO["nginx"]["SITES_AVAILABLE_DIR"] | default('') }}
SERVER_URL = {{ ATMO["nginx"]["SERVER_URL"] | default('') }}
VIRTUALENV_PATH = {{ ATMO["nginx"]["VIRTUALENV_PATH"] | default('') }}

[uwsgi.ini]
LOCAL_DEV = {{ ATMO["uwsgi.ini"]["LOCAL_DEV"] | default('') }}
PATH_TO_ATMOSPHERE = {{ ATMO["uwsgi.ini"]["PATH_TO_ATMOSPHERE"] | default('') }}
VIRTUALENV_PATH = {{ ATMO["uwsgi.ini"]["VIRTUALENV_PATH"] | default('') }}
UWSGI_USER = {{ ATMO["uwsgi.ini"]["UWSGI_USER"] | default('') }}
UWSGI_GROUP = {{ ATMO["uwsgi.ini"]["UWSGI_GROUP"] | default('') }}
UWSGI_LOG_PATH = {{ ATMO["uwsgi.ini"]["UWSGI_LOG_PATH"] | default('') }}

[local.py]
AUTH_USE_OVERRIDE = {{ ATMO["local.py"]["AUTH_USE_OVERRIDE"] | default('') }}
AUTH_MOCK_USER = {{ ATMO["local.py"]["AUTH_MOCK_USER"] | default('') }}
AUTH_ENABLE_MOCK = {{ ATMO["local.py"]["AUTH_ENABLE_MOCK"] | default('') }}
AUTH_ENABLE_GLOBUS = {{ ATMO["local.py"]["AUTH_ENABLE_GLOBUS"] | default('') }}
AUTH_ENABLE_CAS = {{ ATMO["local.py"]["AUTH_ENABLE_CAS"] | default('') }}
AUTH_ENABLE_LDAP = {{ ATMO["local.py"]["AUTH_ENABLE_LDAP"] | default('') }}
GLOBUS_MAPPING_FILE = {{ ATMO["local.py"]["GLOBUS_MAPPING_FILE"] | default('') }}
ANSIBLE_ROOT = {{ ATMO["local.py"]["ANSIBLE_ROOT"] | default('') }}
LOGOUT_REDIRECT_URL = {{ ATMO["local.py"]["LOGOUT_REDIRECT_URL"] | default('') }}
CAS_AUTH_PREFIX = {{ ATMO["local.py"]["CAS_AUTH_PREFIX"] | default('') }}
CAS_SERVER = {{ ATMO["local.py"]["CAS_SERVER"] | default('') }}
OAUTH_ISSUE_USER = {{ ATMO["local.py"]["OAUTH_ISSUE_USER"] | default('') }}
LDAP_SERVER = {{ ATMO["local.py"]["LDAP_SERVER"] | default('') }}
LDAP_SERVER_DN = {{ ATMO["local.py"]["LDAP_SERVER_DN"] | default('') }}
JWT_INSTALL = {{ ATMO["local.py"]["JWT_INSTALL"] | default('') }}
JWT_PUBLIC_KEY = {{ ATMO["local.py"]["JWT_PUBLIC_KEY"] | default('') }}
JWT_CLIENT_KEY = {{ ATMO["local.py"]["JWT_CLIENT_KEY"] | default('') }}
JWT_CLIENT_SECRET = {{ ATMO["local.py"]["JWT_CLIENT_SECRET"] | default('') }}
GLOBUS_OAUTH_ID = {{ ATMO["local.py"]["GLOBUS_OAUTH_ID"] | default('') }}
GLOBUS_OAUTH_SECRET = {{ ATMO["local.py"]["GLOBUS_OAUTH_SECRET"] | default('') }}
GLOBUS_OAUTH_CREDENTIALS_SCOPE = {{ ATMO["local.py"]["GLOBUS_OAUTH_CREDENTIALS_SCOPE"] | default('') }}
GLOBUS_OAUTH_ATMOSPHERE_SCOPE = {{ ATMO["local.py"]["GLOBUS_OAUTH_ATMOSPHERE_SCOPE"] | default('') }}
GLOBUS_TOKENINFO_URL = {{ ATMO["local.py"]["GLOBUS_TOKENINFO_URL"] | default('') }}
GLOBUS_TOKEN_URL = {{ ATMO["local.py"]["GLOBUS_TOKEN_URL"] | default('') }}
GLOBUS_AUTH_URL = {{ ATMO["local.py"]["GLOBUS_AUTH_URL"] | default('') }}
OAUTH_CLIENT_KEY = {{ ATMO["local.py"]["OAUTH_CLIENT_KEY"] | default('') }}
OAUTH_CLIENT_SECRET = {{ ATMO["local.py"]["OAUTH_CLIENT_SECRET"] | default('') }}
DATABASE_CONN_MAX_AGE = {{ ATMO["local.py"]["DATABASE_CONN_MAX_AGE"] | default('') }}
DATABASE_ENGINE = {{ ATMO["local.py"]["DATABASE_ENGINE"] | default('') }}
DATABASE_HOST = {{ ATMO["local.py"]["DATABASE_HOST"] | default('') }}
DATABASE_NAME = {{ ATMO["local.py"]["DATABASE_NAME"] | default('') }}
DATABASE_PASSWORD = {{ ATMO["local.py"]["DATABASE_PASSWORD"] | default('') }}
DATABASE_PORT = {{ ATMO["local.py"]["DATABASE_PORT"] | default('') }}
DATABASE_USER = {{ ATMO["local.py"]["DATABASE_USER"] | default('') }}
DJANGO_DEBUG = {{ ATMO["local.py"]["DJANGO_DEBUG"] | default('') }}
#NOTE: DO NOT SET ENFORCING UNLESS YOU ARE ON PRODUCTION!!!!
ENFORCING = {{ ATMO["local.py"]["ENFORCING"] | default('') }}
DJANGO_JENKINS = {{ ATMO["local.py"]["DJANGO_JENKINS"] | default('') }}
SSLSERVER = {{ ATMO["local.py"]["SSLSERVER"] | default('') }}
TESTING = {{ ATMO["local.py"]["TESTING"] | default('') }}
MOCK_USER = {{ ATMO["local.py"]["MOCK_USER"] | default('') }}
USE_MOCK_AUTH = {{ ATMO["local.py"]["USE_MOCK_AUTH"] | default('') }}
SAML_SSO = {{ ATMO["local.py"]["SAML_SSO"] | default('') }}
SAML_SSO_KEYFILE = {{ ATMO["local.py"]["SAML_SSO_KEYFILE"] | default('') }}
SAML_SSO_CERTFILE = {{ ATMO["local.py"]["SAML_SSO_CERTFILE"] | default('') }}
SAML_IDP_URL = {{ ATMO["local.py"]["SAML_IDP_URL"] | default('') }}
SAML_IDP_OAUTH_URL = {{ ATMO["local.py"]["SAML_IDP_OAUTH_URL"] | default('') }}
SSO_OAUTH_KEY = {{ ATMO["local.py"]["SSO_OAUTH_KEY"] | default('') }}
SSO_OAUTH_SECRET = {{ ATMO["local.py"]["SSO_OAUTH_SECRET"] | default('') }}
SAML_ENTITY_ID = {{ ATMO["local.py"]["SAML_ENTITY_ID"] | default('') }}
DJANGO_TEMPLATE_DEBUG = {{ ATMO["local.py"]["DJANGO_TEMPLATE_DEBUG"] | default('') }}
LOG_LIBCLOUD = {{ ATMO["local.py"]["LOG_LIBCLOUD"] | default('') }}
LOGGING_DEP_LEVEL = {{ ATMO["local.py"]["LOGGING_DEP_LEVEL"] | default('') }}
LOGGING_LEVEL = {{ ATMO["local.py"]["LOGGING_LEVEL"] | default('') }}
LOGSTASH_HOST = {{ ATMO["local.py"]["LOGSTASH_HOST"] | default('') }}
LOGSTASH_PORT = {{ ATMO["local.py"]["LOGSTASH_PORT"] | default('') }}
METRIC_SERVER = {{ ATMO["local.py"]["METRIC_SERVER"] | default('') }}
SECRET_KEY = {{ ATMO["local.py"]["SECRET_KEY"] | default('') }}
SELF_SIGNED_CERT = {{ ATMO["local.py"]["SELF_SIGNED_CERT"] | default('') }}
TEST_RUNNER = {{ ATMO["local.py"]["TEST_RUNNER"] | default('') }}
TEST_RUNNER_PASS = {{ ATMO["local.py"]["TEST_RUNNER_PASS"] | default('') }}
TEST_RUNNER_USER = {{ ATMO["local.py"]["TEST_RUNNER_USER"] | default('') }}
AUTO_CREATE_NEW_ACCOUNTS = {{ ATMO["local.py"]["AUTO_CREATE_NEW_ACCOUNTS"] | default('') }}

[secrets.py]
IRODS_HOST = {{ ATMO["secrets.py"]["IRODS_HOST"] | default('') }}
IRODS_PORT = {{ ATMO["secrets.py"]["IRODS_PORT"] | default('') }}
IRODS_ZONE = {{ ATMO["secrets.py"]["IRODS_ZONE"] | default('') }}
IRODS_ADMIN_USER = {{ ATMO["secrets.py"]["IRODS_ADMIN_USER"] | default('') }}
IRODS_ADMIN_PASS = {{ ATMO["secrets.py"]["IRODS_ADMIN_PASS"] | default('') }}
LOCAL_STORAGE = {{ ATMO["secrets.py"]["LOCAL_STORAGE"] | default('') }}
CHROMO_DEPLOYMENT_KEY = {{ ATMO["secrets.py"]["CHROMO_DEPLOYMENT_KEY"] | default('') }}
OPENSTACK_PROVIDER_KEY = {{ ATMO["secrets.py"]["OPENSTACK_PROVIDER_KEY"] | default('') }}
OPENSTACK_ADMIN_KEY = {{ ATMO["secrets.py"]["OPENSTACK_ADMIN_KEY"] | default('') }}
OPENSTACK_ADMIN_SECRET = {{ ATMO["secrets.py"]["OPENSTACK_ADMIN_SECRET"] | default('') }}
OPENSTACK_AUTH_URL = {{ ATMO["secrets.py"]["OPENSTACK_AUTH_URL"] | default('') }}
OPENSTACK_ADMIN_TENANT = {{ ATMO["secrets.py"]["OPENSTACK_ADMIN_TENANT"] | default('') }}
OPENSTACK_DEFAULT_REGION = {{ ATMO["secrets.py"]["OPENSTACK_DEFAULT_REGION"] | default('') }}
OPENSTACK_DEFAULT_ROUTER = {{ ATMO["secrets.py"]["OPENSTACK_DEFAULT_ROUTER"] | default('') }}
OPENSTACK_USER_ROLE = {{ ATMO["secrets.py"]["OPENSTACK_USER_ROLE"] | default('') }}
OPENSTACK_ADMIN_ROLE = {{ ATMO["secrets.py"]["OPENSTACK_ADMIN_ROLE"] | default('') }}
ATMOSPHERE_SUPERUSER = {{ ATMO["secrets.py"]["ATMOSPHERE_SUPERUSER"] | default('') }}
ATMOSPHERE_VNC_LICENSE = {{ ATMO["secrets.py"]["ATMOSPHERE_VNC_LICENSE"] | default('') }}

[celeryd.default]
VIRTUAL_ENV_ATMOSPHERE = {{ ATMO["celeryd.default"]["VIRTUAL_ENV_ATMOSPHERE"] | default('') }}
ATMOSPHERE_LOCATION = {{ ATMO["celeryd.default"]["ATMOSPHERE_LOCATION"] | default('') }}
SSL_LOCATION = {{ ATMO["celeryd.default"]["SSL_LOCATION"] | default('') }}
SSL_CERTIFICATE = {{ ATMO["celeryd.default"]["SSL_CERTIFICATE"] | default('') }}
SSL_KEY = {{ ATMO["celeryd.default"]["SSL_KEY"] | default('') }}
USE_PRODUCTION = {{ ATMO["celeryd.default"]["USE_PRODUCTION"] | default('') }}
