[COMMON]
ASSETS_PATH = {{ TROPO["ASSETS_PATH"] }} 
THEME_PATH = {{ TROPO["THEME_PATH"] }} 
DJANGO_SERVER_URL = {{ TROPO["DJANGO_SERVER_URL"] }} 
SERVER_URL = {{ TROPO["SERVER_URL"] }} 
LDAP_SERVER = {{ TROPO["LDAP_SERVER"] }} 
LDAP_SERVER_DN = {{ TROPO["LDAP_SERVER_DN"] }} 
TOKEN_EXPIRY_TIME_DAYS = {{ TROPO["TOKEN_EXPIRY_TIME_DAYS"] }} 

[apache]
MYSHORTNAME = {{ TROPO["MYSHORTNAME"] }} 
MYHOSTNAMEHERE = {{ TROPO["MYHOSTNAMEHERE"] }} 
PATH_TO_TROPOSPHERE = {{ TROPO["PATH_TO_TROPOSPHERE"] }} 
BASECERTHERE = {{ TROPO["BASECERTHERE"] }} 
KEYHERE = {{ TROPO["KEYHERE"] }} 
BUNDLECERTHERE = {{ TROPO["BUNDLECERTHERE"] }} 

[nginx]
BUNDLE_FILE = {{ ATMO["BUNDLE_FILE"] }} 
TROPOSPHERE_PATH = {{ ATMO["TROPOSPHERE_PATH"] }} 
LOCATIONS_DIR = {{ ATMO["LOCATIONS_DIR"] }} 
SITES_AVAILABLE_DIR = {{ ATMO["SITES_AVAILABLE_DIR"] }} 
SITES_ENABLED_DIR = {{ ATMO["SITES_ENABLED_DIR"] }} 
SERVER_URL = {{ ATMO["SERVER_URL"] }} 
CERT_DIR = {{ ATMO["CERT_DIR"] }} 
CERT_FILE = {{ ATMO["CERT_FILE"] }} 
COMBINED_CERT_FILE = {{ TROPO["COMBINED_CERT_FILE"] }} 
COMBINED_CERT_PATH = {{ TROPO["COMBINED_CERT_PATH"] }} 
KEY_FILE = {{ TROPO["KEY_FILE"] }} 
KEY_PATH = {{ TROPO["KEY_PATH"] }} 
KEY_SIZE = {{ TROPO["KEY_SIZE"] }} 
DHPARAM = {{ TROPO["DHPARAM"] }} 
VIRTUALENV_PATH = {{ TROPO["VIRTUALENV_PATH"] }} 

[uwsgi.ini]
LOCAL_DEV = {{ TROPO["LOCAL_DEV"] }} 
PATH_TO_TROPOSPHERE = {{ TROPO["PATH_TO_TROPOSPHERE"] }} 
VIRTUALENV_PATH = {{ TROPO["VIRTUALENV_PATH"] }} 
UWSGI_USER = {{ TROPO["UWSGI_USER"] }} 
UWSGI_GROUP = {{ TROPO["UWSGI_GROUP"] }} 
UWSGI_LOG_PATH = {{ TROPO["UWSGI_LOG_PATH"] }} 

[local.py]
DEBUG = {{ ATMO["DEBUG"] }} 
SECRET_KEY = {{ ATMO["SECRET_KEY"] }} 
THEME_NAME = {{ ATMO["THEME_NAME"] }} 
SITE_TITLE = {{ ATMO["SITE_TITLE"] }} 
SITE_FOOTER = {{ ATMO["SITE_FOOTER"] }} 
API_SERVER = {{ ATMO["API_SERVER"] }} 
BASE_URL = {{ ATMO["BASE_URL"] }} 

DATABASE_NAME = {{ ATMO["DATABASE_NAME"] }} 
DATABASE_ENGINE = {{ ATMO["DATABASE_ENGINE"] }} 
DATABASE_USER = {{ ATMO["DATABASE_USER"] }} 
DATABASE_CONN_MAX_AGE = {{ ATMO["DATABASE_CONN_MAX_AGE"] }} 
DATABASE_PASSWORD = {{ ATMO["DATABASE_PASSWORD"] }} 
DATABASE_HOST = {{ ATMO["DATABASE_HOST"] }} 
DATABASE_PORT = {{ ATMO["DATABASE_PORT"] }} 
DJANGO_JENKINS = {{ TROPO["DJANGO_JENKINS"] }} 
SSLSERVER = {{ TROPO["SSLSERVER"] }} 

MOCK_USER = {{ TROPO["MOCK_USER"] }} 
USE_MOCK_AUTH = {{ TROPO["USE_MOCK_AUTH"] }} 
LOGOUT_REDIRECT_URL = {{ TROPO["LOGOUT_REDIRECT_URL"] }} 
CAS_SERVER = {{ ATMO["CAS_SERVER"] }} 
CAS_AUTH_PREFIX = {{ ATMO["CAS_AUTH_PREFIX"] }} 
OAUTH_CLIENT_KEY = {{ ATMO["OAUTH_CLIENT_KEY"] }} 
OAUTH_CLIENT_SECRET = {{ ATMO["OAUTH_CLIENT_SECRET"] }} 
OAUTH_CLIENT_CALLBACK = {{ ATMO["OAUTH_CLIENT_CALLBACK"] }} 
GLOBUS_OAUTH_ID = {{ TROPO["GLOBUS_OAUTH_ID"] }} 
GLOBUS_OAUTH_SECRET = {{ TROPO["GLOBUS_OAUTH_SECRET"] }} 
GLOBUS_OAUTH_CREDENTIALS_SCOPE = {{ TROPO["GLOBUS_OAUTH_CREDENTIALS_SCOPE"] }} 
GLOBUS_OAUTH_ATMOSPHERE_SCOPE = {{ TROPO["GLOBUS_OAUTH_ATMOSPHERE_SCOPE"] }} 
GLOBUS_TOKENINFO_URL = {{ TROPO["GLOBUS_TOKENINFO_URL"] }} 
GLOBUS_TOKEN_URL = {{ TROPO["GLOBUS_TOKEN_URL"] }} 
GLOBUS_AUTH_URL = {{ TROPO["GLOBUS_AUTH_URL"] }} 
OAUTH_ISSUE_USER = {{ TROPO["OAUTH_ISSUE_USER"] }} 

BADGES_ENABLED = {{ ATMO["BADGES_ENABLED"] }} 
BADGE_SECRET = {{ ATMO["BADGE_SECRET"] }} 
BADGE_HOST = {{ ATMO["BADGE_HOST"] }} 
BADGE_API_HOST = {{ ATMO["BADGE_API_HOST"] }} 
BADGE_SYSTEM_NAME = {{ ATMO["BADGE_SYSTEM_NAME"] }} 
BADGE_SYSTEM_SLUG = {{ ATMO["BADGE_SYSTEM_SLUG"] }} 
SHOW_INSTANCE_METRICS = {{ TROPO["SHOW_INSTANCE_METRICS"] }} 

USE_GATE_ONE_API = {{ TROPO["USE_GATE_ONE_API"] }} 
# Key and secret represent atmo-dev credentials
GATE_ONE_API_KEY = {{ TROPO["GATE_ONE_API_KEY"] }} 
GATE_ONE_API_SECRET = {{ TROPO["GATE_ONE_API_SECRET"] }} 
# must be localhost or route-able domain
WEB_SH_ROUTE = {{ TROPO["WEB_SH_ROUTE"] }} 
WEB_SH_BASE_URL = {{ TROPO["WEB_SH_BASE_URL"] }} 
WEB_SH_JS_FILE = {{ TROPO["WEB_SH_JS_FILE"] }} 
