[COMMON]
ASSETS_PATH = {{ TROPO["COMMON"]["ASSETS_PATH"] | default('') }}
THEME_PATH = {{ TROPO["COMMON"]["THEME_PATH"] | default('') }}
DJANGO_SERVER_URL = {{ TROPO["COMMON"]["DJANGO_SERVER_URL"] | default('') }}
SERVER_URL = {{ TROPO["COMMON"]["SERVER_URL"] | default('') }}
LDAP_SERVER = {{ TROPO["COMMON"]["LDAP_SERVER"] | default('') }}
LDAP_SERVER_DN = {{ TROPO["COMMON"]["LDAP_SERVER_DN"] | default('') }}
TOKEN_EXPIRY_TIME_DAYS = {{ TROPO["COMMON"]["TOKEN_EXPIRY_TIME_DAYS"] | default('') }}

[nginx]
BUNDLE_FILE = {{ TROPO["nginx"]["BUNDLE_FILE"] | default('') }}
TROPOSPHERE_PATH = {{ TROPO["nginx"]["TROPOSPHERE_PATH"] | default('') }}
LOCATIONS_DIR = {{ TROPO["nginx"]["LOCATIONS_DIR"] | default('') }}
SITES_AVAILABLE_DIR = {{ TROPO["nginx"]["SITES_AVAILABLE_DIR"] | default('') }}
SITES_ENABLED_DIR = {{ TROPO["nginx"]["SITES_ENABLED_DIR"] | default('') }}
SERVER_URL = {{ TROPO["nginx"]["SERVER_URL"] | default('') }}
CERT_DIR = {{ TROPO["nginx"]["CERT_DIR"] | default('') }}
CERT_FILE = {{ TROPO["nginx"]["CERT_FILE"] | default('') }}
COMBINED_CERT_FILE = {{ TROPO["nginx"]["COMBINED_CERT_FILE"] | default('') }}
COMBINED_CERT_PATH = {{ TROPO["nginx"]["COMBINED_CERT_PATH"] | default('') }}
KEY_FILE = {{ TROPO["nginx"]["KEY_FILE"] | default('') }}
KEY_PATH = {{ TROPO["nginx"]["KEY_PATH"] | default('') }}
KEY_SIZE = {{ TROPO["nginx"]["KEY_SIZE"] | default('') }}
DHPARAM = {{ TROPO["nginx"]["DHPARAM"] | default('') }}
VIRTUALENV_PATH = {{ TROPO["nginx"]["VIRTUALENV_PATH"] | default('') }}

[uwsgi.ini]
LOCAL_DEV = {{ TROPO["uwsgi.ini"]["LOCAL_DEV"] | default('') }}
PATH_TO_TROPOSPHERE = {{ TROPO["uwsgi.ini"]["PATH_TO_TROPOSPHERE"] | default('') }}
VIRTUALENV_PATH = {{ TROPO["uwsgi.ini"]["VIRTUALENV_PATH"] | default('') }}
UWSGI_USER = {{ TROPO["uwsgi.ini"]["UWSGI_USER"] | default('') }}
UWSGI_GROUP = {{ TROPO["uwsgi.ini"]["UWSGI_GROUP"] | default('') }}
UWSGI_LOG_PATH = {{ TROPO["uwsgi.ini"]["UWSGI_LOG_PATH"] | default('') }}

[local.py]
DEBUG = {{ TROPO["local.py"]["DEBUG"] | default('') }}
SECRET_KEY = {{ TROPO["local.py"]["SECRET_KEY"] | default('') }}
THEME_NAME = {{ TROPO["local.py"]["THEME_NAME"] | default('') }}
SITE_TITLE = {{ TROPO["local.py"]["SITE_TITLE"] | default('') }}
ORG_NAME = {{ TROPO["local.py"]["ORG_NAME"] | default('') }}
SITE_FOOTER = {{ TROPO["local.py"]["SITE_FOOTER"] | default('') }}
SUPPORT_EMAIL = {{ TROPO["local.py"]["SUPPORT_EMAIL"] | default('') }}
API_SERVER = {{ TROPO["local.py"]["API_SERVER"] | default('') }}
BASE_URL = {{ TROPO["local.py"]["BASE_URL"] | default('""') }}

DATABASE_NAME = {{ TROPO["local.py"]["DATABASE_NAME"] | default('') }}
DATABASE_ENGINE = {{ TROPO["local.py"]["DATABASE_ENGINE"] | default('') }}
DATABASE_USER = {{ TROPO["local.py"]["DATABASE_USER"] | default('') }}
DATABASE_CONN_MAX_AGE = {{ TROPO["local.py"]["DATABASE_CONN_MAX_AGE"] | default('') }}
DATABASE_PASSWORD = {{ TROPO["local.py"]["DATABASE_PASSWORD"] | default('') }}
DATABASE_HOST = {{ TROPO["local.py"]["DATABASE_HOST"] | default('') }}
DATABASE_PORT = {{ TROPO["local.py"]["DATABASE_PORT"] | default('') }}
DJANGO_JENKINS = {{ TROPO["local.py"]["DJANGO_JENKINS"] | default('') }}
SESSION_COOKIE_AGE = {{ TROPO["local.py"]["SESSION_COOKIE_AGE"] | default('') }}
SSLSERVER = {{ TROPO["local.py"]["SSLSERVER"] | default('') }}

MOCK_USER = {{ TROPO["local.py"]["MOCK_USER"] | default('""') }}
USE_MOCK_AUTH = {{ TROPO["local.py"]["USE_MOCK_AUTH"] | default('False') }}
LOGOUT_REDIRECT_URL = {{ TROPO["local.py"]["LOGOUT_REDIRECT_URL"] | default('') }}
CAS_SERVER = {{ TROPO["local.py"]["CAS_SERVER"] | default('') }}
CAS_AUTH_PREFIX = {{ TROPO["local.py"]["CAS_AUTH_PREFIX"] | default('') }}
OAUTH_CLIENT_KEY = {{ TROPO["local.py"]["OAUTH_CLIENT_KEY"] | default('') }}
OAUTH_CLIENT_SECRET = {{ TROPO["local.py"]["OAUTH_CLIENT_SECRET"] | default('') }}
OAUTH_CLIENT_CALLBACK = {{ TROPO["local.py"]["OAUTH_CLIENT_CALLBACK"] | default('') }}
GLOBUS_OAUTH_ID = {{ TROPO["local.py"]["GLOBUS_OAUTH_ID"] | default('') }}
GLOBUS_OAUTH_SECRET = {{ TROPO["local.py"]["GLOBUS_OAUTH_SECRET"] | default('') }}
GLOBUS_OAUTH_CREDENTIALS_SCOPE = {{ TROPO["local.py"]["GLOBUS_OAUTH_CREDENTIALS_SCOPE"] | default('') }}
GLOBUS_OAUTH_ATMOSPHERE_SCOPE = {{ TROPO["local.py"]["GLOBUS_OAUTH_ATMOSPHERE_SCOPE"] | default('') }}
GLOBUS_TOKENINFO_URL = {{ TROPO["local.py"]["GLOBUS_TOKENINFO_URL"] | default('') }}
GLOBUS_TOKEN_URL = {{ TROPO["local.py"]["GLOBUS_TOKEN_URL"] | default('') }}
GLOBUS_AUTH_URL = {{ TROPO["local.py"]["GLOBUS_AUTH_URL"] | default('') }}
OAUTH_ISSUE_USER = {{ TROPO["local.py"]["OAUTH_ISSUE_USER"] | default('') }}

BADGES_ENABLED = {{ TROPO["local.py"]["BADGES_ENABLED"] | default('') }}
BADGE_SECRET = {{ TROPO["local.py"]["BADGE_SECRET"] | default('') }}
BADGE_HOST = {{ TROPO["local.py"]["BADGE_HOST"] | default('') }}
BADGE_API_HOST = {{ TROPO["local.py"]["BADGE_API_HOST"] | default('') }}
BADGE_SYSTEM_NAME = {{ TROPO["local.py"]["BADGE_SYSTEM_NAME"] | default('') }}
BADGE_SYSTEM_SLUG = {{ TROPO["local.py"]["BADGE_SYSTEM_SLUG"] | default('') }}
SHOW_INSTANCE_METRICS = {{ TROPO["local.py"]["SHOW_INSTANCE_METRICS"] | default('""') }}

INTERCOM_APP_ID = {{ TROPO["local.py"]["INTERCOM_APP_ID"] | default('') }}
INTERCOM_COMPANY_ID = {{ TROPO["local.py"]["INTERCOM_COMPANY_ID"] | default('') }}
INTERCOM_COMPANY_NAME = {{ TROPO["local.py"]["INTERCOM_COMPANY_NAME"] | default('') }}

USE_GATE_ONE_API = {{ TROPO["local.py"]["USE_GATE_ONE_API"] | default('') }}
# Key and secret represent atmo-dev credentials
GATE_ONE_API_KEY = {{ TROPO["local.py"]["GATE_ONE_API_KEY"] | default('') }}
GATE_ONE_API_SECRET = {{ TROPO["local.py"]["GATE_ONE_API_SECRET"] | default('') }}
# must be localhost or route-able domain
WEB_SH_ROUTE = {{ TROPO["local.py"]["WEB_SH_ROUTE"] | default('') }}
WEB_SH_BASE_URL = {{ TROPO["local.py"]["WEB_SH_BASE_URL"] | default('') }}
WEB_SH_JS_FILE = {{ TROPO["local.py"]["WEB_SH_JS_FILE"] | default('') }}
