[COMMON]
ASSETS_PATH = {{ TROPO["ASSETS_PATH"] | default('') }} 
THEME_PATH = {{ TROPO["THEME_PATH"] | default('') }} 
DJANGO_SERVER_URL = {{ TROPO["DJANGO_SERVER_URL"] | default('') }} 
SERVER_URL = {{ TROPO["SERVER_URL"] | default('') }} 
LDAP_SERVER = {{ TROPO["LDAP_SERVER"] | default('') }} 
LDAP_SERVER_DN = {{ TROPO["LDAP_SERVER_DN"] | default('') }} 
TOKEN_EXPIRY_TIME_DAYS = {{ TROPO["TOKEN_EXPIRY_TIME_DAYS"] | default('') }} 

[apache]
MYSHORTNAME = {{ TROPO["MYSHORTNAME"] | default('') }} 
MYHOSTNAMEHERE = {{ TROPO["MYHOSTNAMEHERE"] | default('') }} 
PATH_TO_TROPOSPHERE = {{ TROPO["PATH_TO_TROPOSPHERE"] | default('') }} 
BASECERTHERE = {{ TROPO["BASECERTHERE"] | default('') }} 
KEYHERE = {{ TROPO["KEYHERE"] | default('') }} 
BUNDLECERTHERE = {{ TROPO["BUNDLECERTHERE"] | default('') }} 

[nginx]
BUNDLE_FILE = {{ TROPO["BUNDLE_FILE"] | default('') }} 
TROPOSPHERE_PATH = {{ TROPO["TROPOSPHERE_PATH"] | default('') }} 
LOCATIONS_DIR = {{ TROPO["LOCATIONS_DIR"] | default('') }} 
SITES_AVAILABLE_DIR = {{ TROPO["SITES_AVAILABLE_DIR"] | default('') }} 
SITES_ENABLED_DIR = {{ TROPO["SITES_ENABLED_DIR"] | default('') }} 
SERVER_URL = {{ TROPO["SERVER_URL"] | default('') }} 
CERT_DIR = {{ TROPO["CERT_DIR"] | default('') }} 
CERT_FILE = {{ TROPO["CERT_FILE"] | default('') }} 
COMBINED_CERT_FILE = {{ TROPO["COMBINED_CERT_FILE"] | default('') }} 
COMBINED_CERT_PATH = {{ TROPO["COMBINED_CERT_PATH"] | default('') }} 
KEY_FILE = {{ TROPO["KEY_FILE"] | default('') }} 
KEY_PATH = {{ TROPO["KEY_PATH"] | default('') }} 
KEY_SIZE = {{ TROPO["KEY_SIZE"] | default('') }} 
DHPARAM = {{ TROPO["DHPARAM"] | default('') }} 
VIRTUALENV_PATH = {{ TROPO["VIRTUALENV_PATH"] | default('') }} 

[uwsgi.ini]
LOCAL_DEV = {{ TROPO["LOCAL_DEV"] | default('') }} 
PATH_TO_TROPOSPHERE = {{ TROPO["PATH_TO_TROPOSPHERE"] | default('') }} 
VIRTUALENV_PATH = {{ TROPO["VIRTUALENV_PATH"] | default('') }} 
UWSGI_USER = {{ TROPO["UWSGI_USER"] | default('') }} 
UWSGI_GROUP = {{ TROPO["UWSGI_GROUP"] | default('') }} 
UWSGI_LOG_PATH = {{ TROPO["UWSGI_LOG_PATH"] | default('') }} 

[local.py]
DEBUG = {{ TROPO["DEBUG"] | default('') }} 
SECRET_KEY = {{ TROPO["SECRET_KEY"] | default('') }} 
THEME_NAME = {{ TROPO["THEME_NAME"] | default('') }} 
SITE_TITLE = {{ TROPO["SITE_TITLE"] | default('') }} 
ORG_NAME = {{ TROPO["ORG_NAME"] | default('') }}
SITE_FOOTER = {{ TROPO["SITE_FOOTER"] | default('') }} 
SUPPORT_EMAIL = {{ TROPO["SUPPORT_EMAIL"] | default('') }}
API_SERVER = {{ TROPO["API_SERVER"] | default('') }} 
BASE_URL = {{ TROPO["BASE_URL"] | default('""') }} 

DATABASE_NAME = {{ TROPO["DATABASE_NAME"] | default('') }} 
DATABASE_ENGINE = {{ TROPO["DATABASE_ENGINE"] | default('') }} 
DATABASE_USER = {{ TROPO["DATABASE_USER"] | default('') }} 
DATABASE_CONN_MAX_AGE = {{ TROPO["DATABASE_CONN_MAX_AGE"] | default('') }} 
DATABASE_PASSWORD = {{ TROPO["DATABASE_PASSWORD"] | default('') }} 
DATABASE_HOST = {{ TROPO["DATABASE_HOST"] | default('') }} 
DATABASE_PORT = {{ TROPO["DATABASE_PORT"] | default('') }} 
DJANGO_JENKINS = {{ TROPO["DJANGO_JENKINS"] | default('') }}
SESSION_COOKIE_AGE = {{ TROPO["SESSION_COOKIE_AGE"] | default('') }}
SSLSERVER = {{ TROPO["SSLSERVER"] | default('') }} 

MOCK_USER = {{ TROPO["MOCK_USER"] | default('""') }} 
USE_MOCK_AUTH = {{ TROPO["USE_MOCK_AUTH"] | default('False') }} 
LOGOUT_REDIRECT_URL = {{ TROPO["LOGOUT_REDIRECT_URL"] | default('') }} 
CAS_SERVER = {{ TROPO["CAS_SERVER"] | default('') }} 
CAS_AUTH_PREFIX = {{ TROPO["CAS_AUTH_PREFIX"] | default('') }} 
OAUTH_CLIENT_KEY = {{ TROPO["OAUTH_CLIENT_KEY"] | default('') }} 
OAUTH_CLIENT_SECRET = {{ TROPO["OAUTH_CLIENT_SECRET"] | default('') }} 
OAUTH_CLIENT_CALLBACK = {{ TROPO["OAUTH_CLIENT_CALLBACK"] | default('') }} 
GLOBUS_OAUTH_ID = {{ TROPO["GLOBUS_OAUTH_ID"] | default('') }} 
GLOBUS_OAUTH_SECRET = {{ TROPO["GLOBUS_OAUTH_SECRET"] | default('') }} 
GLOBUS_OAUTH_CREDENTIALS_SCOPE = {{ TROPO["GLOBUS_OAUTH_CREDENTIALS_SCOPE"] | default('') }} 
GLOBUS_OAUTH_ATMOSPHERE_SCOPE = {{ TROPO["GLOBUS_OAUTH_ATMOSPHERE_SCOPE"] | default('') }} 
GLOBUS_TOKENINFO_URL = {{ TROPO["GLOBUS_TOKENINFO_URL"] | default('') }} 
GLOBUS_TOKEN_URL = {{ TROPO["GLOBUS_TOKEN_URL"] | default('') }} 
GLOBUS_AUTH_URL = {{ TROPO["GLOBUS_AUTH_URL"] | default('') }} 
OAUTH_ISSUE_USER = {{ TROPO["OAUTH_ISSUE_USER"] | default('') }} 

BADGES_ENABLED = {{ TROPO["BADGES_ENABLED"] | default('') }} 
BADGE_SECRET = {{ TROPO["BADGE_SECRET"] | default('') }} 
BADGE_HOST = {{ TROPO["BADGE_HOST"] | default('') }} 
BADGE_API_HOST = {{ TROPO["BADGE_API_HOST"] | default('') }} 
BADGE_SYSTEM_NAME = {{ TROPO["BADGE_SYSTEM_NAME"] | default('') }} 
BADGE_SYSTEM_SLUG = {{ TROPO["BADGE_SYSTEM_SLUG"] | default('') }} 
SHOW_INSTANCE_METRICS = {{ TROPO["SHOW_INSTANCE_METRICS"] | default('""') }} 

INTERCOM_APP_ID = {{ TROPO["INTERCOM_APP_ID"] | default('') }}
INTERCOM_COMPANY_ID = {{ TROPO["INTERCOM_COMPANY_ID"] | default('') }}
INTERCOM_COMPANY_NAME = {{ TROPO["INTERCOM_COMPANY_NAME"] | default('') }}

USE_GATE_ONE_API = {{ TROPO["USE_GATE_ONE_API"] | default('') }} 
# Key and secret represent atmo-dev credentials
GATE_ONE_API_KEY = {{ TROPO["GATE_ONE_API_KEY"] | default('') }} 
GATE_ONE_API_SECRET = {{ TROPO["GATE_ONE_API_SECRET"] | default('') }} 
# must be localhost or route-able domain
WEB_SH_ROUTE = {{ TROPO["WEB_SH_ROUTE"] | default('') }} 
WEB_SH_BASE_URL = {{ TROPO["WEB_SH_BASE_URL"] | default('') }} 
WEB_SH_JS_FILE = {{ TROPO["WEB_SH_JS_FILE"] | default('') }} 
