###############################
#0. Welcome to Clanks variables.yml configuration file!
#
# NOTE: There are a LOT of options available to you in this file!
# However, if you are just starting out with Clank, Atmosphere, and Troposphere
# you can go ahead and ignore the commented out sections of code.
#
# At a minimum, you should define the following:
# Section 1 - WORKSPACE, VIRTUAL_ENV_DIR
# Section 2 - Define the Authentication plugin you intend to use _OR_
#             set AUTH_MOCK_USER If you intend to skip the authentication check
###############################

###############################
#1. Required configuration
###############################
WORKSPACE: /opt/dev  #NOTE: This is where atmosphere/troposphere directories reside.
VIRTUAL_ENV_DIR: "/opt/env"  #NOTE: This is where atmosphere/troposphere virtualenv directories reside.
INSTALLATION_TYPE: "production"  # can be development or production
#TODO:-- currently INSTALLATION_TYPE deals only with installing the correct requirements.txt -- but could be used to override DJANGO_JENKINS and/or celeryd

###
# SECRETS_REPO - This repo should contain the SSH Keys, TLS certificates, and an atmosphere-ansible directory (including hosts file and group_vars directory) that you intend to use when installing Atmosphere.
###
# SECRETS_REPO: "/path/to/secrets_repo/clank_init"


###
# ANSIBLE_HOSTS_FILE and ANSIBLE_GROUP_VARS_FOLDER are required if you intend on properly
# deploying to instances with Atmosphere.
#
# Don't have a hosts or group_vars file handy? We will generate one for you as part of the process.
# Before launching an instance, you will want to confirm:
# * The IP Address given to new instances is inside the range listed in the `hosts` file.
# * The group_vars for each group that matches the IP address range is valid for your cloud.
###
#ANSIBLE_HOSTS_FILE: "{{ SECRETS_REPO }}/atmosphere-ansible/hosts"
#ANSIBLE_GROUP_VARS_FOLDER: "{{ SECRETS_REPO }}/atmosphere-ansible/group_vars"

###
# SSH KEYPAIR - This public key will be used by Atmosphere to take over the deployment process once an instance has been launched and networked appropriately. After the key is injected in the instance and Atmosphere has run the instance deployment playbook in atmosphere-ansible, the instance will be made available to the user.
###
#GENERATE_SSH_CONFIG: False
#CREATE_SSH_KEYS: False
#DEPLOYMENT_KEYPAIR_NAME: atmosphere_keypair_1
#ID_RSA: "{{ SECRETS_REPO }}/atmosphere_keypair_1"
#ID_RSA_PUB: "{{ SECRETS_REPO }}/atmosphere_keypair_1.pub"

# Define these if you are providing your own TLS (SSL) certificates, otherwise a self-signed certificate will be created for you
# TLS_PRIVKEY_SRC_FILE: "{{ SECRETS_REPO }}/example.com.key"
# TLS_CERT_SRC_FILE: "{{ SECRETS_REPO }}/example.com.crt"
# TLS_CACHAIN_SRC_FILE: "{{ SECRETS_REPO }}/example.com.cachain.crt"

###############################
# 2. Authentication:
# LDAP, JWT, and SAML are additional protocols that support Atmosphere API Only.
# Select *one* Authentication protocol from "Single Sign On Integrations"
###############################
AUTH_USE_OVERRIDE: True

#[MOCK] - Use this if you are a developer or evaluating Atmosphere
#############
# First, A WARNING about using Mock Authentication
# WARNING: You should only use Mock authentication in a secure environment.
# Running Mock authentication on an instance that is connected to the outside world
# would allow anyone who visits the webpage to create, edit, or destroy resources on an enabled cloud provider. You could additionally leak your credentials. USE AT YOUR OWN RISK.
#############
AUTH_ENABLE_MOCK: True
AUTH_MOCK_USER: "atmosphere_user"

#[OPENSTACK-KEYSTONE] - Use these variables to enable an experience that allows Identities to be authenticated/identified by 'auth_token' rather than password
# AUTH_ENABLE_OPENSTACK: True
# USE_LOGIN_SELECTION: True
# KEYSTONE_SERVER: "https://my-openstack.cloud.org:5000"
# KEYSTONE_DOMAIN_NAME: "default"

#[LDAP]
# AUTH_ENABLE_LDAP: True
# LDAP_SERVER: ldap://ldap.server.org
# LDAP_SERVER_DN: ou=people,dc=LdapServer,dc=org

#[JWT]
# AUTH_ENABLE_JWT: True
# JWT_INSTALL: True
# JWT_PUBLIC_KEY: /path/to/jwt_public_key.pub
# JWT_CLIENT_KEY: 1nfmGUUfnxvJGoqsnlEWYdbucb8a
# JWT_CLIENT_SECRET: b0vqMKQVnPFMEq9dMcF_xGur7CIa

#[SAML] - Incomplete Auth. Ignore.
# SAML_SSO: ""
# SAML_SSO_KEYFILE: ""
# SAML_SSO_CERTFILE: ""
# SAML_IDP_URL: https://52.3.10.15:9563
# SAML_IDP_OAUTH_URL: https://52.3.10.15:9563/oauth2/token
# SSO_OAUTH_KEY: EJESpDRqUWEpNPYZhe6y_sxcUaEa
# SSO_OAUTH_SECRET: jBd5FovIXdVcuXWIjdewxLUN2iYa
# SAML_ENTITY_ID: atmomickey

###
#Single Sign On Integations: *Pick one*
###

#[CAS]
# AUTH_ENABLE_CAS: True
# CAS_AUTH_PREFIX: /cas
# CAS_SERVER: https://cas.server.org
# ATMO_OAUTH_CLIENT_KEY: oauth_client_key
# ATMO_OAUTH_CLIENT_SECRET: oauth_client_secret
# TROPO_OAUTH_CLIENT_KEY: troposphere_oauth_client_key
# TROPO_OAUTH_CLIENT_SECRET: troposphere_oauth_client_secret
# CAS_OAUTH_CLIENT_CALLBACK: "https://{{server_name}}/cas/oauth2.0"

#[GLOBUS]
# AUTH_ENABLE_GLOBUS: False
# GLOBUS_OAUTH_SERVER: ""
# GLOBUS_TOKENINFO_URL: "https://{{GLOBUS_OAUTH_SERVER}}/v2/oauth2/token/introspect"
# GLOBUS_TOKEN_URL: "https://{{GLOBUS_OAUTH_SERVER}}/v2/oauth2/token"
# GLOBUS_AUTH_URL: "https://{{GLOBUS_OAUTH_SERVER}}/v2/oauth2/authorize"
# ATMO_GLOBUS_OAUTH_ID: 1-2-3-4
# ATMO_GLOBUS_OAUTH_SECRET: 5678
# TROPO_GLOBUS_OAUTH_ID: 2-3-4-5
# TROPO_GLOBUS_OAUTH_SECRET: 6789
# GLOBUS_OAUTH_CREDENTIALS_SCOPE: auth:login
# GLOBUS_OAUTH_ATMOSPHERE_SCOPE: atmosphere:all

###############################
#3. GLOBAL OVERRIDES
###############################
#
###
# 3a. Site specific configuration
###
# SITE_NAME: Atmosphere
# SITE_FOOTER: Powered by Clank
# ORG_NAME: Atmosphere
# TIME_ZONE: America/Phoenix
# DEFAULT_EMAIL_DOMAIN: cyverse.org

# NOTE: At least one valid email is requried for admin. If given, this user will be emailed when errors occur in Atmosphere, Troposphere, and for user contact/feedback.
# ADMINS_EMAIL_TUPLE: [['Atmosphere Admin', 'valid-email@required'], ['Admin Two', 'valid-email@required']]

###
# 3b: Support
# Looking to separate support email from the Sys.Admin error emails?
# ATMO_SUPPORT_EMAIL_TUPLE: [['Support Team', 'valid-email@required'], ] # can have more than one
# SUPPORT_EMAIL: support-email@required
# SUPPORT_EMAIL_SIGNATURE: Support Team
# SUPPORT_LINKS: {'getting_started': "https://google.com/",'new_provider': "https://google.com"}

###
# 3c: Theme configuration
# Set custom colors and images for your instance of Troposphere leaving undefined will default to the Cyverse Troposphere theme.
###

###
# THEME_IMAGES_PATH, expects an absolute path to an images directory
# We recommend making a copy of the themeImagesDefault directory in Troposphere
# <projectDir>/troposphere/static/theme/themeImagesDefault
# Place it in an init directory and replace any image with a new image of equal size and name
# Uncomment the variable below.
###

#THEME_IMAGES_PATH: ""

###
# The Theme Colors below, expect hex color strings
# Change the look of Troposphere by defining your own colors
# Visit https://cyverse.github.io/cyverse-ui/ for more information on how these colors are used
###

#PRIMARY_ONE_COLOR: "#ed174b"
#PRIMARY_TWO_COLOR: "#46afc8"
#HEADER_BORDER_COLOR: "#ed174b"
#HEADER_LINK_COLOR: "black"
#PICKER_HEADER_COLOR: "#46afc8"
#HEADER_COLOR: "white"
#LINK_COLOR: "#46afc8"
#ACCENT_ONE_COLOR: "#46afc8"
#SUCCESS_COLOR: ""
#DANGER_COLOR: ""

###############################
#4. Optional Plugins
#   These features are NOT required to run Atmosphere+Troposphere
#   But they do make interacting with the UI easier for end-users.
###############################

###
# Gate One
###
# USE_GATE_ONE_API: False
# GATE_ONE_API_KEY:
# GATE_ONE_API_SECRET:

###
# Web Shell
###
# WEB_SH_ROUTE:
# WEB_SH_BASE_URL:
# WEB_SH_JS_FILE: "static/gateone.js"

###
# Web Desktop
###
# WEB_DESKTOP_ENABLED:
# Salts for signing/verifying authentication tokens and creating/decoding browser fingerprints
# WEB_DESKTOP_SIGNING_SALT: ""
# WEB_DESKTOP_FP_SALT: ""
# Shared secrets for signing/verifying authentication tokens and creating/decoding browser fingerprints
# WEB_DESKTOP_SIGNING_SECRET_KEY: ""
# WEB_DESKTOP_FP_SECRET_KEY: ""
# Troposphere feature flag to enable Web Desktop?
# WEB_DESKTOP_INCLUDE_LINK: False
# Should be set to "https://my-novnc-gateway-server.com/vncws"
# WEB_DESKTOP_PROXY_URL: ""
# Should be set to ".my-novnc-gateway-server.com", allows Troposphere to set a cross-domain cookie readable by your NoVNC gateway server
# WEB_DESKTOP_PROXY_DOMAIN: ""

###
# Guacamole
###
# GUACAMOLE_ENABLED:
# GUACAMOLE_SECRET_KEY: ""
# GUACAMOLE_SERVER_URL: ""

###
# VNC
###
# ATMOSPHERE_VNC_LICENSE: ""

###
# Logstash: ELK install required.
###
# LOGSTASH_HOST: ""
# LOGSTASH_PORT: ""

###
# Metrics: WeatherBalloon Server requried
###
# SHOW_INSTANCE_METRICS: False
# METRIC_SERVER:

###
# Badges:
###
# BADGES_ENABLED: False
# BADGE_SECRET: ""
# BADGE_HOST: ""
# BADGE_API_HOST: ""
# BADGE_SYSTEM_NAME: My_System
# BADGE_SYSTEM_SLUG: my_system

###
# Intercom:
###
# INTERCOM_APP_ID: ""
# INTERCOM_COMPANY_ID: ""
# INTERCOM_COMPANY_NAME: ""

###
# New Relic:
###
# NEW_RELIC:
#     LICENSE: ""
#     ATMO_LABEL: ""
#     TROPO_LABEL: ""
#     ENVIRONMENT: ""
#     BROWSER: 'partials/__new_relic_browser.html'

###
# django-prometheus
###
###
# ATMO_ENABLE_DJANGO_PROMETHEUS: true

###############################
#5. App-specific overrides
###############################

#Specific overrides of group_vars/atmosphere go here:
# atmosphere_database_name: local_atmosphere
# atmosphere_github_branch: "master"

#Specific overrides of group_vars/troposphere go here:
# troposphere_theme_name: troposphere_theme
# troposphere_github_branch: "master"

#Specific overrides of group_vars/atmosphere-ansible go here:
# atmosphere_ansible_github_repo: https://github.com/cyverse/atmosphere-ansible.git

###############################
#5. Overrides for Clank Execution
###############################
# Uncomment for faster Clank run (you will not get very latest packages, do not use in production!)
# faster_dev_rebuild: true
