- name: ensure troposphere location
  file: path={{ TROPOSPHERE_LOCATION }} state=directory

- name: clone troposphere git repo
  git: repo=https://github.com/iPlantCollaborativeOpenSource/troposphere.git
       dest={{ TROPOSPHERE_LOCATION }}
       clone=yes
       update=yes
  when: TROPOSPHERE_BRANCH |length == 0  

- name: clone troposphere git repo with branched defined
  git: repo=https://github.com/iPlantCollaborativeOpenSource/troposphere.git
       dest={{ TROPOSPHERE_LOCATION }}
       clone=yes
       update=yes
       version={{ TROPOSPHERE_BRANCH | default("master") }}
  when: TROPOSPHERE_BRANCH |length > 0
