RANDFILE        = $ENV::HOME/.rnd

[ req ]
prompt = no
default_bits        = 4096
default_keyfile     = cakey.pem
distinguished_name  = ca_distinguished_name
x509_extensions     = ca_extensions
string_mask         = utf8only

[ ca_distinguished_name ]
C            = {{ COUNTRY_NAME           | default('US') }}
ST           = {{ STATE_OR_PROVINCE_NAME | default('Arizona') }}
L            = {{ LOCALITY_NAME          | default('Tucson') }}
O            = {{ ORGANIZATION_NAME      | default('Organisation Name') }}
OU           = {{ ORG_UNIT_NAME          | default('Organisation Division') }}
CN           = {{ COMMON_NAME            | default('Common Name CA') }}
emailAddress = {{ EMAIL_ADDRESS          | default('test@example.com') }}

[ ca_extensions ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints       = critical, CA:true
keyUsage               = keyCertSign, cRLSign
