---
# tasks file for app-generate-ini-config
- name: ensure local files directory exists
  local_action: >
      file path={{ role_path }}/files state=directory mode=0755

- name: create local variables.ini.ini from dict
  local_action: >
      template src={{ role_path }}/templates/variables.ini.j2 dest={{ role_path }}/files/variables.ini.ini

- name: move over precompleted variables.ini
  copy: src=variables.ini.ini dest={{ APP_BASE_DIR }}/variables.ini backup=yes

- name: run generate script for app
  shell: "{{ VIRTUAL_ENV }}/bin/python {{ APP_BASE_DIR }}/configure"
  register: output

- debug: var=output.stdout_lines
  when: "{{ CLANK_VERBOSE | default(False) }}"
