#!/bin/sh

psql {{ atmosphere_database_name }} > /dev/null << EOF
CREATE TABLE atmosphere_user_reporting AS SELECT id, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, selected_identity_id, uuid, end_date FROM atmosphere_user;
CREATE TABLE provider_reporting AS SELECT id, location, type_id, active, public, start_date, end_date, virtualization_id, description, auto_imaging, over_allocation_action_id, uuid, timezone, cloud_admin_id FROM provider;
EOF

/usr/bin/pg_dump -T access_token -T atmosphere_user -T auth_token -T auth_userproxy -T boot_script -T credential -T django_admin_log -T django_cyverse_auth_accesstoken -T django_cyverse_auth_token -T django_cyverse_auth_userproxy -T django_session -T external_link -T iplantauth_accesstoken -T iplantauth_token -T iplantauth_userproxy -T node_controller -T provider -T provider_credential atmo_prod

psql atmo_prod > /dev/null << EOF
DROP TABLE atmosphere_user_reporting, provider_reporting;
EOF
