INITIAL_PACKAGES:
  packages:
    - software-properties-common
    - python-software-properties
  state: latest

DEV_PACKAGES:
  packages:
    - libffi-dev
    - python
    - openssl
    - g++
    - make
    - build-essential
    - postgresql
    - postgresql-contrib
    - python-psycopg2
    - postgresql-server-dev-all
    - libpq-dev
    - python-dev
    - libldap2-dev
    - libsasl2-dev
    - python-m2crypto
    - swig
    - redis-server
    - libssl-dev
    - git
    - nodejs
    - ruby1.9.1
    - python-pip
    - python-setuptools
    - ufw
  state: latest

LIB_PACKAGES:
  packages:
    - libxml2-dev
    - libxslt1-dev
    - python-tk
    - zlib1g-dev
  state: latest

NGINX_PACKAGES:
  packages:
    - uwsgi
    - uwsgi-plugin-python
    - nginx
  state: latest

MODPROBE_PACKAGES:
  packages:
    - { name: 'nbd', params: 'max_part=16' }
