# {{ ansible_managed }}

IdentityFile /root/.ssh/id_rsa
{% if SSH_PUB_KEY %}
IdentityFile {{ APP_BASE_DIR }}/extras/ssh/{{ SSH_PUB_KEY | basename }}
{% else %}
IdentityFile {{ APP_BASE_DIR }}/extras/ssh/id_rsa
{% endif %}

Host *
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
