---
- name: Install and setup required dependencies for Atmosphere
  hosts: atmosphere
  vars:
    clean_target: CLEAN_TARGET | default(True)

  roles:
    - { role: install-dependencies,
        when: clean_target,
        tags: ['dependencies', 'apt-install', 'install'] }

    - { role: setup-postgres,
        DB_USER: "{{ ATMO_DBUSER | default(atmosphere_database_user) }}",
        DB_VERSION: "{{ pg_version }}",
        when: clean_target,
        tags: ['dependencies', 'database'] }

    - { role: tls-cert,
        TLS_COMMON_NAME: "{{ atmosphere_server_name }}",
        tags: ['dependencies', 'ssl'] }

- name: Clone Atmosphere Ansible
  hosts: atmosphere_ansible

  roles:
    - { role: clone-repo,
        REPO_BASE_DIR: "{{ ANSIBLE_DEPLOY_DIR | default(workspace) }}",
        CLONE_TARGET: "{{ ANSIBLE_DEPLOY_LOCATION | default(atmosphere_ansible_directory_path) }}",
        SPECIFIC_BRANCH: "{{ atmosphere_ansible_github_branch }}",
        REPO_URI: "{{ ANSIBLE_REPO | default(atmosphere_ansible_github_repo) }}",
        tags: [ 'atmosphere', 'clone-repo'] }

- name: Setup virtualenv and clone Atmosphere
  hosts: atmosphere
  roles:
    - { role: setup-virtualenv,
        VIRTUAL_ENV_NAME: "{{ atmosphere_virtualenv_name }}_{{ atmosphere_github_branch }}",
        VIRTUAL_ENV_BASE_DIR: "{{ virtualenv_dir }}",
        REINSTALL: "{{ REINSTALL_VENV | default(True) }}",
        tags: [ 'atmosphere', 'setup-virtualenv'] }

    - { role: clone-repo,
        REPO_BASE_DIR: "{{ workspace }}",
        CLONE_TARGET: "{{ atmosphere_directory_path }}",
        SPECIFIC_BRANCH: "{{ atmosphere_github_branch }}",
        REPO_URI: "{{ ATMOSPHERE_REPO | default(atmosphere_github_repo) }}",
        tags: [ 'atmosphere', 'clone-repo'] }

  tasks:
    - block:
        # Ansible will not create a symlink where a non-empty folder exists,
        # to work around this, you must delete the symlink destination
        # prior.
        # https://github.com/ansible/ansible/issues/7254#issuecomment-327590981
        - file:
            path: "{{ LINK_DEST }}"
            state: absent
        - name: Create link {{ LINK_DEST }} -> {{ LINK_SOURCE }}
          file:
            src: "{{ LINK_SOURCE }}"
            dest: "{{ LINK_DEST }}"
            state: link
      vars:
          LINK_DEST: "{{ atmosphere_virtualenv_path }}"
          LINK_SOURCE: "{{ virtualenv_dir }}/{{ atmosphere_virtualenv_name }}_{{ atmosphere_github_branch }}"
      tags: [ 'atmosphere', 'setup-virtualenv']

- name: Include setup atmosphere
  import_playbook: ./setup_atmosphere.yml

- name: Setup celery for Atmosphere
  hosts: atmosphere

  roles:
    - { role: setup-celery,
        tags: ['atmosphere', 'celery'] }

    - { role: logrotate-files,
        LOGROTATE_FILES: "{{ ATMOSPHERE_LOCATION | default(atmosphere_directory_name) }}/extras/logrotate.celery",
        tags: ['atmosphere', 'celery', 'logrotate'] }

- name: Enable New Relic agent
  hosts: atmosphere
  roles:
    - { role: noc-enable-new-relic,
        TARGET_HOME: "{{ ATMOSPHERE_LOCATION | default(atmosphere_directory_path) }}",
        MODULE_NAME: 'atmosphere',
        new_relic_app_name: "{{ NEW_RELIC.ATMO_LABEL }}",
        when: NEW_RELIC is defined and NEW_RELIC.ATMO_LABEL | default('') != '' and NEW_RELIC.LICENSE | default('') != '',
        tags: ['atmosphere', 'new-relic', 'monitoring'] }

- name: Configure uwsgi
  hosts: atmosphere
  roles:
    - { role: configure-uwsgi,
        APP_NAME: 'atmosphere',
        APP_ENV_VARS: ["DJANGO_SETTINGS_MODULE=atmosphere.settings"],
        APP_SRC_DIR: "{{ ATMOSPHERE_LOCATION | default(atmosphere_directory_path) }}",
        APP_VIRTUAL_ENV_DIR : "{{ VIRTUAL_ENV_ATMOSPHERE | default(atmosphere_virtualenv_path) }}",
        APP_MODULE: "atmosphere.wsgi",
        NUM_PROCESSES: "{{ atmosphere_uwsgi_processes | default(16) }}",
        AUTORELOAD: "{{ UWSGI_AUTORELOAD | default(false) }}",
        APP_SOCK: "{{ ATMO_APP_SOCK | default('/tmp/' + APP_NAME + '.sock') }}",
        tags: ['atmosphere', 'uwsgi'] }
