---
- name: Setup the Atmosphere API component
  hosts: all

  roles:
    - { role: app-alter-kernel-for-imaging,
        tags: ['atmosphere'] }

    - { role: app-config-postgres,
        DBNAME: "{{ ATMO_DBNAME }}",
        DBUSER: "{{ ATMO_DBUSER }}",
        DBPASSWORD: "{{ ATMO_DBPASSWORD }}",
        tags: ['atmosphere', 'database'] }

    - { role: app-load-data-postgres,
        DBNAME: "{{ ATMO_DBNAME}} ",
        LOAD_DATABASE: "{{ ATMO_DATA.LOAD_DATABASE }}",
        DATABASE_FILE_TO_BE_LOADED: "{{ ATMO_DATA.SQL_DUMP_FILE }}",
        tags: ['atmosphere', 'data-load'] }

    - { role: logrotate-files,
        LOGROTATE_FILES: "{{ ATMOSPHERE_LOCATION }}/extras/logrotate.atmosphere",
        tags: ['atmosphere', 'logrotate'] }

    - { role: delete-files,
        LOCATION: "{{ ATMOSPHERE_LOCATION }}",
        GLOB: "*.pyc",
        tags: ['atmosphere'] }

    - { role: app-pip-install-requirements,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        REQUIREMENTS_FILE_NAME: 'dev_requirements.txt',
        VIRTUAL_ENV: "{{ VIRTUAL_ENV_ATMOSPHERE }}",
        PIP_EXTRA_ARGS: '--no-cache-dir',
        tags: ['atmosphere', 'pip-install-requirements']}

    - { role: app-config-logging,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        LOG_FILES: "{{ ATMO_LOG_FILES }}",
        tags: ['atmosphere', 'logging']}

    - { role: app-generate-ini-config,
        template_vars: "{{ ATMO }}",
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        VIRTUAL_ENV: "{{ VIRTUAL_ENV_ATMOSPHERE }}",
        tags: ['atmosphere', 'generate-config'] }

    - { role: app-setup-ssh-keys,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        CREATE_SSH: "{{ CREATE_SSH_KEYS | default(true) }}",
        SSH_PRIV_KEY: "{{ ID_RSA }}",
        SSH_PUB_KEY: "{{ ID_RSA_PUB }}",
        tags: ['atmosphere', 'ansible-deploy', 'setup-ssh-keys'] }

    - { role: app-install-instance-deploy-automation,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        INSTANCE_DEPLOY_AUTOMATION_DIR: "{{ ANSIBLE_DEPLOY_LOCATION }}",
        INSTANCE_DEPLOY_AUTOMATION_HOSTS_FILE: "{{ ANSIBLE_HOSTS_FILE }}",
        INSTANCE_DEPLOY_AUTOMATION_GROUP_VARS_FOLDER: "{{ ANSIBLE_GROUP_VARS_FOLDER }}",
        tags: ['atmosphere', 'ansible-deploy'] }

    - { role: app-generate-ini-config,
        template_vars: "{{ ATMOSPHERE_ANSIBLE }}",
        APP_BASE_DIR: "{{ ANSIBLE_DEPLOY_LOCATION }}",
        VIRTUAL_ENV: "{{ VIRTUAL_ENV_ATMOSPHERE }}",
        tags: ['atmosphere', 'ansible-deploy'] }

    - { role: app-django-manage-collectstatic,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        VIRTUAL_ENV: "{{ VIRTUAL_ENV_ATMOSPHERE }}",
        DJANGO_SETTINGS_MODULE: 'atmosphere.settings',
        tags: ['atmosphere', 'manage-collectstatic'] }

    - { role: app-django-manage-migrate,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        VIRTUAL_ENV: "{{ VIRTUAL_ENV_ATMOSPHERE }}",
        DJANGO_SETTINGS_MODULE: 'atmosphere.settings',
        tags: ['atmosphere', 'manage-migrate'] }

    - { role: app-django-manage-load-tables,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        VIRTUAL_ENV: "{{ VIRTUAL_ENV_ATMOSPHERE }}",
        DJANGO_SETTINGS_MODULE: 'atmosphere.settings',
        tags: ['atmosphere','manage-load-tables'] }

    - { role: config-nginx-uwsgi,
        APP_BASE_DIR: "{{ ATMOSPHERE_LOCATION }}",
        UWSGI_APP_NAME: 'atmosphere',
        UWSGI_INI_SRC_NAME: 'extras/uwsgi/atmo.uwsgi.ini',
        tags: ['atmosphere', 'deploy', 'nginx-uwsgi'] }
