---
# tasks file for config-nginx-uwsgi

- debug: var=UWSGI_INI_SRC_NAME
  when: "{{ DEBUG_OR_TEST_ROLE | default(False) }}"

- name: create apps-enabled directory
  file: path={{ UWSGI_APPS_ENABLED_PATH }} state=directory

- name: link {{ UWSGI_APP_NAME | default('') }} uwsgi conf file
  file: src={{ UWSGI_APP_SRC }} dest={{ UWSGI_APP_DEST }} state=link
  tags:
    - deploy

- name: make nginx configuration files
  shell: make
  args:
    chdir: "{{ APP_BASE_DIR }}/extras/nginx"
  register: output
  tags:
    - deploy

- debug: var=output.stdout_lines
  when: "{{ CLANK_VERBOSE | default(False) }}"

